<!-- <p>list-product works!</p> -->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <b>
        <a
          style="color: black"
          routerLink="/add-product"
          routerLinkActive="active"
          class="nav-link"
        >
          Add-product</a
        ></b
      >
    </li>

    <li class="nav-item">
      <b>
        <a
          style="color: black"
          routerLink="/dashboard"
          routerLinkActive="active"
          class="nav-link"
        >
          Dashboard</a
        ></b
      >
    </li>

    <li class="nav-item">
      <b>
        <a
          style="color: brown"
          routerLink="/dashboard/logout"
          routerLinkActive="active"
          class="nav-link"
        >
          LogOut</a
        ></b
      >
    </li>
  </ul>
</nav>

<div class="container">
  <h1>Product List</h1>

  <h3><label for="search"> Search</label></h3>
  <input
    type="text"
    class="form-control"
    placeholder="Search"
    [(ngModel)]="searchKey"
  />

  <table class="table">
    <thead>
      <tr>
        <th (click)="sortProduct('id')">
          ID <i class="fa fa-sort" aria-hidden="true"></i> -
        </th>
        <!-- <th (click)="sortProduct('firstName')"  >Profile Picture   </th> -->
        <th (click)="sortProduct('productname')">productname</th>
        <th (click)="sortProduct('productdescription')">Product Description</th>
        <th (click)="sortProduct('price')">Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let prd of product
            | orderBy : key
            | paginate : { itemsPerPage: 4, currentPage: p }
        "
      >
        <td>{{ prd.id }}</td>
        <td>{{ prd.productname }}</td>
        <td>{{ prd.productdescription }}</td>
        <td>{{ prd.price }}</td>

        <!-- You can use item.profilePicture here if it's a URL to an image -->

        <td>
          <button (click)="updateProduct(prd.id)" class="btn btn-primary">
            Edit
          </button>
          -
          <button (click)="deleteProduct(prd.id)" class="btn btn-danger">
            delete
          </button>
          -
          <button (click)="detailProduct(prd.id)" class="btn btn-info">
            detail
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
